.search-bar-container
{
    width: 562px;
    height:55px;
    margin-top:55px;
    margin-left: 774px;
    border-radius: 10px;
    background-color: #FFFFFF
    
}
.search-bar
{
    width:70px;
    height:21px;
    margin-top:5px;
    margin-left:50px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    padding: 15px;
    color:#7B7878;
    
}
.searcbar-icon
{
  font-size: 2rem;
  padding:15px ;
  width: 24px;
  height: 24px;
  
}