.overview-text
{
    width:167px;
    height:47px;
    margin-top:55px;
    margin-left:362px;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 700;
    line-height: 46.88px;
    color:#535353;
   
}
